$bg-active: #E94E00;
$bg-hover: lighten($bg-active, 4.3%);
$bg-disabled: lighten($bg-active, 27.3%);
$light: #FFFFFF;


@mixin small {
  background-color: $bg-disabled;
  font-weight: bold;
  border: none;
  padding: 0.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  
  &:hover{
    background-color: $bg-hover;
  }
  &:active{
    background-color: $bg-active;
  }
}

@mixin big {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.0rem;
  padding: 1.0rem 1.6rem;
  background: transparent;
  color: $bg-hover;
  border: 1px solid $bg-hover;
  border-radius: 0.8rem;
  cursor: pointer;
  
  &:hover {
    border-color: $bg-active;
    color: $bg-hover;
  }
  
}

.increase {
  @include small;
  background-image: url('./plus.svg');
}

.decrease {
  @include small;
  background-image: url('./minus.svg');
}

.primary {
  @include big;
  background: $bg-hover;
  color: $light;
  
  &:hover {
    background: $bg-active;
    color: $light;
  }
}

.secondary{
  @include big
}