* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 10px;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 10.8rem;
  padding: 0 3.2rem;
  gap: 2.4rem;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Regular.ttf);
  font-weight: 400;
 }

 @font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

 @font-face {
  font-family: 'SF Pro Text';
  src: url(./../fonts/SFProText-Regular.ttf);
  font-weight: 400;
 }
